body{
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling:touch ;
    margin-top: 70px;
}
.navbar-brand{
    color: coral;
    font-weight:bolder;
}
.nav>.active>a{
    background-color: sandybrown;
}

.container-fluid {
    margin: 0 auto;
    width: 100%;
}

.nav-item {
    display:table;
    width:100%;
    margin: 0;
}
.nav-item > li {
    float:none;
    display:table-cell;
    text-align:center;
}